In [1]:
import pandas as pd
import numpy as np

### rfm결과 각각의 사분위수 기준

빈도수
- 0 ~3
- 3 ~ 12
- 12 ~ 40
- 40 ~

총금액
- 0 ~ 909450.0
- 909450.0 ~ 5144328.0
- 5144328.0 ~ 26911910.0
- 26911910.0 ~

최근구매일
- 20210810 이전
- 20210810 ~ 20220410 사이
- 20220410 ~ 20220620 사이
- 20220620 이후


각각의 기준에 맞춰서 사용자마다 해당기준에 맞으면 1 ~ 4점의 점수를 줘서 분리함 이때 분리를 한 결과가 rfm이고 이후에
그룹화 된것을 transaction_new에 붙혀서 transaction_new4가 됨

In [2]:
customer = pd.read_csv('customer_train.csv')
#customer_merge = pd.read_csv('tr_customer_merge.csv')
cart_product = pd.read_csv('cb_product.csv')
customer_merge_c = pd.read_csv('customer_merge_customer.csv')
vip_merge = pd.read_csv('customer_merge_vip.csv')

# 프로그램
- 사용자가 회원이면 implicit라이브러리를 이용해서 추천해줌
- 사용자 id를 분석해서 어떤 세그멘테이션에 들어가는지 파악 후에
- extinct_customer이거나 customer이면 최근 구매내역과 비슷한 상품을 자연어 처리해서 추천하고
- vip나 vvip면 implicit로 추천

In [3]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import re

# =========================================================================
# Step 0: 전체 데이터 학습 및 공통 TfidfVectorizer 객체 생성
# (user_products와 category_products의 벡터 차원을 일치시키기 위해 필수)
# =========================================================================

# 1. articleType 클리닝 및 combined_text 생성 (전체 데이터 대상)
cart_product_copy = cart_product.copy()
cart_product_copy['articleType'] = cart_product_copy['articleType'].astype(str).str.strip()
cart_product_copy['combined_text'] = cart_product_copy['productDisplayName'].astype(str) + ' ' + cart_product_copy['articleType']

customer_merge_copy = customer_merge_c.copy()
customer_merge_copy['articleType'] = customer_merge_copy['articleType'].astype(str).str.strip()

# 2. 전체 상품 데이터를 기반으로 TF-IDF Vocabulary 학습
global_tfidf_vectorizer = TfidfVectorizer()
global_tfidf_vectorizer.fit(cart_product_copy['combined_text'].values.astype('U'))

# articletype과 mastercategory 관계 저장
article_to_master_category = (
    cart_product_copy[['articleType', 'masterCategory']]
    .drop_duplicates()
    .set_index('articleType')['masterCategory']
    .to_dict()
)

# =========================================================================
# Step 1: 카테고리별 모델 생성 (유사도 매트릭스 대신 TF-IDF 벡터 저장)
# =========================================================================
category_models = {}

def create_category_model(df, query, tfidf_vectorizer):
    # 해당 카테고리만 필터링 및 클리닝된 데이터 사용
    category_data = df[df['masterCategory'] == query].copy()
    category_data = category_data.drop_duplicates(subset='product_id', keep='first')
    
    # 텍스트를 공통 TF-IDF 모델로 변환 (학습된 Vocabulary 사용)
    category_tfidf_vectors = tfidf_vectorizer.transform(category_data['combined_text'].values.astype('U'))
    
    # 모델 저장 (TF-IDF 벡터를 저장)
    category_models[query] = {
        'tfidf_vectors': category_tfidf_vectors, # N x Vocabulary_Size 행렬
        'product_ids': category_data['product_id'].values,
        'product_info': category_data.set_index('product_id')[['productDisplayName', 'articleType']].to_dict('index')
    }

for category in cart_product_copy['masterCategory'].unique():
    create_category_model(cart_product_copy, category, global_tfidf_vectorizer)

# =========================================================================
# Step 2: 유저의 관심 상품 벡터화 (공통 TF-IDF 모델 사용)
# =========================================================================

# 유저의 거래내역을 기반으로 유저의 관심 상품을 벡터화하는 함수
def get_query_biased_user_vector(user_id, cleaned_query, tfidf_vectorizer):
    # 1. 유저의 거래 내역 데이터 (이미 클리닝됨)
    user_data = customer_merge_copy[customer_merge_copy['customer_id'] == user_id].copy()
    
    # 2. 쿼리된 articleType과 일치하는 구매 기록만 필터링
    filtered_data = user_data[user_data['articleType'] == cleaned_query].copy()
    
    if filtered_data.empty:
        # 해당 articleType을 구매한 기록이 없으면, 전체 구매 기록을 사용하도록 대체 (선택 사항)
        print(f"DEBUG: User {user_id} has no purchase history for '{cleaned_query}'. Using full history.")
        filtered_data = user_data
    
    # combined_text 생성 및 TF-IDF 변환
    filtered_data['combined_text'] = filtered_data['productDisplayName'].astype(str) + ' ' + filtered_data['articleType']
    user_tfidf_vectors = tfidf_vectorizer.transform(filtered_data['combined_text'].values.astype('U'))
    
    return user_tfidf_vectors   # M x Vocabulary_Size 행렬 (M: 유저 구매 상품 수)


# =========================================================================
# Step 3: 추천 실행 (User Vector <-> Item Vector 유사도 계산)
# =========================================================================

def recommend_for_user(user_id, query=None, top=20, tfidf_vectorizer=global_tfidf_vectorizer):
    
    # 1. 쿼리 ArticleType을 MasterCategory로 매핑
    cleaned_query = query.strip() if query else None
    
    if not cleaned_query:
        print("Error: No query provided.")
        return pd.DataFrame() 

    # articletype_to_master_category 딕셔너리를 사용하여 마스터 카테고리 찾기
    master_category_to_use = article_to_master_category.get(cleaned_query)
    
    if not master_category_to_use:
        print(f"Error: No MasterCategory found for ArticleType: '{query}'.")
        # 여기서 articleType이 잘못되었음을 알 수 있음
        return pd.DataFrame()

    # 2. MasterCategory 모델 로딩 (master_category_to_use 사용)
    if master_category_to_use not in category_models:
        print(f"Error: Model for MasterCategory '{master_category_to_use}' not found.")
        return pd.DataFrame()

    # 유저 벡터 및 아이템 벡터 로딩
    user_product_vectors = get_query_biased_user_vector(user_id, cleaned_query, tfidf_vectorizer)
    category_model = category_models[master_category_to_use] 
    item_vectors = category_model['tfidf_vectors']

    # 유사도 계산 및 추천 로직 (이하 동일)
    similarity_matrix = cosine_similarity(user_product_vectors, item_vectors)
    max_sim_scores = similarity_matrix.max(axis=0)

    recommended_product_ids = category_model['product_ids']
    
    top_recommendations = sorted(
        zip(recommended_product_ids, max_sim_scores), key=lambda x: x[1], reverse=True)[:top]
    
    # 추천 결과 DataFrame 생성 시 masterCategory에는 매핑된 카테고리를 사용
    recommended_products_df = pd.DataFrame([
        {
            'product_id': product_id, 
            'similarity': similarity,
            'masterCategory': master_category_to_use, # 쿼리가 아닌, 사용된 마스터 카테고리 기입
            'productDisplayName': category_model['product_info'][product_id]['productDisplayName']
        }
        for product_id, similarity in top_recommendations
    ])
    
    # 유저가 이미 구매한 상품은 제외 (선택 사항)
    purchased_ids = customer_merge_c[customer_merge_c['customer_id'] == user_id]['product_id'].tolist()
    recommended_products_df = recommended_products_df[~recommended_products_df['product_id'].isin(purchased_ids)]

    # 1. productDisplayName을 기준으로 그룹화
    # 2. 각 그룹에서 similarity 점수가 가장 높은 행을 선택
    recommended_products_df = recommended_products_df.sort_values(by='similarity', ascending=False)
    recommended_products_df = recommended_products_df.drop_duplicates(
        subset=['productDisplayName'], keep='first'
    )
    
    # 3. 중복 제거 후 다시 similarity 순으로 정렬하고 top-N 선택
    recommended_products_df = recommended_products_df.sort_values(
        by='similarity', ascending=False
    ).head(top) # 중복 제거 후 top개 다시 선택

    return recommended_products_df

In [16]:
import implicit
import scipy

def matrix(user_id):
    # 전체 데이터를 사용하여 customer-상품 행렬 생성 (전체 상품 대상으로 학습)
    temp_df = vip_merge

    a = set(temp_df['customer_id'])
    b = set(temp_df['product_id'].tolist())
    temp_matrix = np.zeros((len(a), len(b)))

    temp_matrix = pd.DataFrame(temp_matrix)

    temp_matrix.index = sorted(list(a))
    temp_matrix.columns = sorted(list(b))

    # ALS 행렬의 열 순서를 정의하는 상품 ID 리스트
    item_list = sorted(list(b))
    
    # 사용자 인덱스 매핑
    user_idx = sorted(list(a)).index(user_id)

    # 전체 데이터에서 고객-상품 관계 반영
    for i in temp_df.index:
        temp_user = temp_df.loc[i]['customer_id']
        temp_product = temp_df.loc[i]['product_id']
        temp_q = temp_df.loc[i]['quantity']

        if temp_user in temp_matrix.index and temp_product in temp_matrix.columns:
            temp_matrix.loc[temp_user, temp_product] += temp_q

    # 사용자 인덱스를 순차적 인덱스로 변환
    temp_matrix.index = list(range(0, len(a)))

    return temp_matrix, user_idx, item_list


def model(matrix):
    temp_matrix = scipy.sparse.csr_matrix(matrix)
    als_model = implicit.als.AlternatingLeastSquares(factors=100, iterations=20, regularization=0.001)
    als_model.fit(temp_matrix)
    return als_model, temp_matrix

In [5]:
def recommend_product(model, matrix, user_id, items, query=None, N=100):
    # 유효한 user_id인지 확인
    if user_id >= matrix.shape[0] or user_id < 0:
        raise ValueError(f"User ID {user_id} is out of bounds.")
    
    # coo_matrix에서 csr_matrix로 변환
    matrix_csr = matrix.tocsr()

    # 유저가 평가한 아이템 추출
    user_items = matrix_csr[user_id]
    if user_items.sum() == 0:
        raise ValueError(f"User ID {user_id} has not rated any items.")
    
    # 추천할 아이템 수 확인
    total_items = matrix.shape[1]
    if N > total_items:
        print(f"Warning: Requested N={N} is greater than total available items {total_items}. Setting N={total_items}.")
        N = total_items

    # 추천 실행
    try:
        recommended, scores = model.recommend(user_id, user_items, N=N)
    except IndexError as e:
        raise IndexError(f"Error while recommending items for User ID {user_id}: {str(e)}")
    
    # 추천된 인덱스를 실제 상품 ID로 변환
    recommended_product_ids = [items[i] for i in recommended]

    # 상품명과 점수를 가져오기 위해 cart_product와 결합
    recommended_data = []
    for product_id, score in zip(recommended_product_ids, scores):
        matching_rows = cart_product[cart_product['product_id'] == product_id]
        if not matching_rows.empty:
            product_name = matching_rows.iloc[0]['productDisplayName']
            article_type = matching_rows.iloc[0]['articleType']  # articleType 추가
            if query is None or article_type == query:  # query와 일치하는 상품만
                recommended_data.append({
                    'product_id': product_id,
                    'product_name': product_name,
                    'score': score,
                    'articleType': article_type  # articleType도 포함시킬 수 있음
                })

    # 결과를 데이터프레임으로 변환
    result_df = pd.DataFrame(recommended_data)

    return result_df

In [6]:
import implicit

def program2():
    user_id = int(input('로그인 id를 입력하세요'))
    group = list(set(customer[customer['customer_id'] ==user_id ]['grade']))[0]

    if group == 'customer':
        query = input('검색창 : ')
        result = recommend_for_user(user_id, query=query, top=20)
        return result

    else:
    #원하는 상품 검색하기
        query = input('검색창 : ')

        #user_item_matrix = 행렬 만드는 함수
        user_item_matrix, user_idx, item_list = matrix(user_id) 

        # #모델 생성 및 학습하는 함수 만들기
        als_model_fitted,temp_matrix = model(user_item_matrix)

        #만들어진 모델을 이용해서 추천해주기
        result = recommend_product(als_model_fitted, temp_matrix, user_idx, item_list, query) 
        return result

잘 되나 테스트
0. trans_customer_1['customer_id'].unique()이런식으로 입력하면 customer에 속하는 사용자의 id가 나옴 그중에 id를 하나 고른다. ex) 95962
1. 로그인 id 95962 입력
2. 검색창에 Tshirts 입력

In [ ]:
# 21 - customer
# 45 - vip
# 24915
# 4774

In [25]:
program2()

로그인 id를 입력하세요 45
검색창 :  Tshirts

  0%|          | 0/20 [00:00<?, ?it/s]

,product_id,product_name,score,articleType
0,6928,Timberland Men's Rugby Pique Golden Rod T-shirt,0.008503,Tshirts
1,15475,Puma Men Logo Blue Tshirts,0.008226,Tshirts
2,16495,Locomotive Men Printed Grey TShirt,0.007430,Tshirts
3,17254,U.S. Polo Assn. Men Printed Tibetian Red Tshirt,0.007375,Tshirts
4,3347,Myntra Men's Attitude To Impress Me Yellow T-s...,0.006491,Tshirts
5,2280,Nike Womens Sphere Pink T-shirt,0.006066,Tshirts
6,23972,Peter England Men Green Printed T-shirt,0.005940,Tshirts
7,30619,Nike Men Printed Black T-shirt,0.005801,Tshirts
8,4784,ADIDAS Women's V Neck With Crystal Purple T-shirt,0.005716,Tshirts
9,41958,Gini and Jony Boys Surfs Up Grey T-shirt,0.005176,Tshirts
10,2254,ADIDAS Women Purple Top,0.005148,Tshirts
11,3681,Inkfruit Men's Double Trouble Brown T-shirt,0.005064,Tshirts
12,33285,Arrow Sport Men Striped Blue Polo T-shirt,0.005032,Tshirts
13,4226,Probase Men's Last Week Grey T-shirt,0.004862,Tshirts
14,14297,Classic Polo Men Printed pack of 3 Tshirts,0.004840,Tshirts
15,9339,Puma Men Ducati Graphic White Tshirts,0.004825,Tshirts
16,7359,Tantra Men Purple T-shirt,0.004824,Tshirts

# 학습한 후 피클 파일 생성하기

In [8]:
# user_item_matrix, _, _ = matrix(45) # (테스트용 user_id(45)를 사용하여 행렬 생성)
# als_model_fitted, _ = model(user_item_matrix)

# # item_list를 전역 스코프에서 만듭니다.
# item_list = sorted(list(set(vip_merge['product_id'].tolist())))

# # user_map은 모든 ID에 대한 인덱스를 한 번에 저장합니다.
# vip_customer_ids = sorted(list(set(vip_merge['customer_id']))) # 정렬된 VIP ID 리스트
# vip_user_map = {customer_id: index for index, customer_id in enumerate(vip_customer_ids)}

C:\Users\USER\anaconda3\envs\ml\lib\site-packages\implicit\cpu\als.py:95: RuntimeWarning: Intel MKL BLAS is configured to use 8 threads. It is highly recommended to disable its internal threadpool by setting the environment variable 'MKL_NUM_THREADS=1' or by callng 'threadpoolctl.threadpool_limits(1, "blas")'. Having MKL use a threadpool can lead to severe performance issues
  check_blas_config()

  0%|          | 0/20 [00:00<?, ?it/s]

In [17]:
# import pickle
# import os

# save_dir = './models'

# if not os.path.exists(save_dir):
#     os.makedirs(save_dir, exist_ok=True)

# # tfidf >> 피클 저장
# save_pairs = [
#     (global_tfidf_vectorizer, 'tfidf_vectorizer.pkl'),
#     (category_models, 'tfidf_category_models.pkl'),
#     (article_to_master_category, 'tfidf_article_to_master_category.pkl'),
#     (customer_merge_copy, 'tfidf_customer_merge.pkl')
# ]

# for obj, filename in save_pairs:
#     file_path = os.path.join(save_dir, filename)
#     with open(file_path, 'wb') as f:
#         pickle.dump(obj, f)


# # als >> 피클 저장
# als_save_pairs = [
#     (als_model_fitted, 'als_model.pkl'),
#     (item_list, 'als_item_list.pkl'),  # 상품 ID 리스트
#     (vip_user_map, 'als_vip_user_map.pkl')
# ]

# for obj, filename in als_save_pairs:
#     file_path = os.path.join(save_dir, filename)
#     with open(file_path, 'wb') as f:
#         pickle.dump(obj, f)


# # 전체 csr행렬 추가
# user_id = 3
# als_user_idx = user_map.get(user_id)
# user_item_matrix, _, _ = matrix(user_id)


# als_model_fitted, full_sparse_matrix = model(user_item_matrix)

# with open('./models/als_full_matrix.pkl', 'wb') as f:
#     pickle.dump(full_sparse_matrix, f)

C:\Users\USER\anaconda3\envs\ml\lib\site-packages\implicit\cpu\als.py:95: RuntimeWarning: Intel MKL BLAS is configured to use 8 threads. It is highly recommended to disable its internal threadpool by setting the environment variable 'MKL_NUM_THREADS=1' or by callng 'threadpoolctl.threadpool_limits(1, "blas")'. Having MKL use a threadpool can lead to severe performance issues
  check_blas_config()

  0%|          | 0/20 [00:00<?, ?it/s]

# 모델 불러오기

In [7]:
import pickle

def load_pickle(file_path):
    """주어진 경로에서 피클 파일을 불러오는 함수."""
    with open(file_path, 'rb') as file:
        obj = pickle.load(file)
    return obj

def load_multiple_pickles(folder_path):
    """
    주어진 폴더 내의 모든 피클 파일을 불러와 리스트로 반환하는 함수.
    
    :param folder_path: 피클 파일들이 저장된 폴더 경로
    :return: 피클 파일들로부터 불러온 객체들의 리스트
    """
    pickle_objects = []
    
    # 폴더 내의 모든 파일을 확인
    for file_name in os.listdir(folder_path):
        if file_name.endswith('.pkl'):  # .pkl 확장자를 가진 파일만 처리
            file_path = os.path.join(folder_path, file_name)  # 전체 경로 생성
            obj = load_pickle(file_path)  # 피클 파일 불러오기
            pickle_objects.append(obj)  # 불러온 객체를 리스트에 추가
    
    return pickle_objects

# 피클 이용한 tfidf

In [17]:
global_tfidf_vectorizer = load_pickle('models/tfidf_vectorizer.pkl')         # TfidfVectorizer
customer_merge_copy = load_pickle('models/tfidf_customer_merge.pkl')         # 유저 거래 내역 DataFrame
article_to_master_category = load_pickle('models/tfidf_article_to_master_category.pkl')  # 딕셔너리
category_models = load_pickle('models/tfidf_category_models.pkl')            # 카테고리별 TF-IDF 벡터 정보


# =========================================================================
# Step 2: 유저의 관심 상품 벡터화 (공통 TF-IDF 모델 사용)
# =========================================================================

# 유저의 거래내역을 기반으로 유저의 관심 상품을 벡터화하는 함수
def get_query_biased_user_vector(user_id, cleaned_query, tfidf_vectorizer):
    # 1. 유저의 거래 내역 데이터 (이미 클리닝됨)
    user_data = customer_merge_copy[customer_merge_copy['customer_id'] == user_id].copy()
    
    # 2. 쿼리된 articleType과 일치하는 구매 기록만 필터링
    filtered_data = user_data[user_data['articleType'] == cleaned_query].copy()
    
    if filtered_data.empty:
        # 해당 articleType을 구매한 기록이 없으면, 전체 구매 기록을 사용하도록 대체 (선택 사항)
        print(f"DEBUG: User {user_id} has no purchase history for '{cleaned_query}'. Using full history.")
        filtered_data = user_data
    
    # combined_text 생성 및 TF-IDF 변환
    filtered_data['combined_text'] = filtered_data['productDisplayName'].astype(str) + ' ' + filtered_data['articleType']
    user_tfidf_vectors = tfidf_vectorizer.transform(filtered_data['combined_text'].values.astype('U'))
    
    return user_tfidf_vectors   # M x Vocabulary_Size 행렬 (M: 유저 구매 상품 수)


# =========================================================================
# Step 3: 추천 실행 (User Vector <-> Item Vector 유사도 계산)
# =========================================================================

def recommend_for_user(user_id, query=None, top=20, tfidf_vectorizer=global_tfidf_vectorizer):
    
    # 1. 쿼리 ArticleType을 MasterCategory로 매핑
    cleaned_query = query.strip() if query else None
    
    if not cleaned_query:
        print("Error: No query provided.")
        return pd.DataFrame() 

    # articletype_to_master_category 딕셔너리를 사용하여 마스터 카테고리 찾기
    master_category_to_use = article_to_master_category.get(cleaned_query)
    
    if not master_category_to_use:
        print(f"Error: No MasterCategory found for ArticleType: '{query}'.")
        # 여기서 articleType이 잘못되었음을 알 수 있음
        return pd.DataFrame()

    # 2. MasterCategory 모델 로딩 (master_category_to_use 사용)
    if master_category_to_use not in category_models:
        print(f"Error: Model for MasterCategory '{master_category_to_use}' not found.")
        return pd.DataFrame()

    # 유저 벡터 및 아이템 벡터 로딩
    user_product_vectors = get_query_biased_user_vector(user_id, cleaned_query, tfidf_vectorizer)
    category_model = category_models[master_category_to_use] 
    item_vectors = category_model['tfidf_vectors']

    # 유사도 계산 및 추천 로직 (이하 동일)
    similarity_matrix = cosine_similarity(user_product_vectors, item_vectors)
    max_sim_scores = similarity_matrix.max(axis=0)

    recommended_product_ids = category_model['product_ids']
    
    top_recommendations = sorted(
        zip(recommended_product_ids, max_sim_scores), key=lambda x: x[1], reverse=True)[:top]
    
    # 추천 결과 DataFrame 생성 시 masterCategory에는 매핑된 카테고리를 사용
    recommended_products_df = pd.DataFrame([
        {
            'product_id': product_id, 
            'similarity': similarity,
            'masterCategory': master_category_to_use, # 쿼리가 아닌, 사용된 마스터 카테고리 기입
            'productDisplayName': category_model['product_info'][product_id]['productDisplayName']
        }
        for product_id, similarity in top_recommendations
    ])
    
    # 유저가 이미 구매한 상품은 제외 (선택 사항)
    purchased_ids = customer_merge_c[customer_merge_c['customer_id'] == user_id]['product_id'].tolist()
    recommended_products_df = recommended_products_df[~recommended_products_df['product_id'].isin(purchased_ids)]

    # 1. productDisplayName을 기준으로 그룹화
    # 2. 각 그룹에서 similarity 점수가 가장 높은 행을 선택
    recommended_products_df = recommended_products_df.sort_values(by='similarity', ascending=False)
    recommended_products_df = recommended_products_df.drop_duplicates(
        subset=['productDisplayName'], keep='first'
    )
    
    # 3. 중복 제거 후 다시 similarity 순으로 정렬하고 top-N 선택
    recommended_products_df = recommended_products_df.sort_values(
        by='similarity', ascending=False
    ).head(top) # 중복 제거 후 top개 다시 선택

    return recommended_products_df

In [16]:
recommend_for_user(41,'Tshirts')

,product_id,similarity,masterCategory,productDisplayName
1,2745,1.000000,Apparel,Classic Polo Men's Black T-shirt
3,29546,1.000000,Apparel,Classic Polo Men Black T-shirt
6,3816,0.944859,Apparel,Disney Kids Boy's Blue Just Cruising Kidswear
7,37984,0.944300,Apparel,Classic Polo Men Black & White T-Shirt
8,7515,0.936681,Apparel,Nike Women's Aqua Blue Polo T-shirt
9,29551,0.925784,Apparel,Classic Polo Men Printed Black T-shirt
10,2760,0.921017,Apparel,Classic Polo Men's Black-Grey T-shirt
11,2757,0.903607,Apparel,Classic Polo Men's Blue T-shirt
12,2743,0.899264,Apparel,Classic Polo Men's White T-shirt
13,31550,0.899264,Apparel,Classic Polo Men White T-shirt
14,25926,0.884087,Apparel,Femella Women Red T-shirt
15,52136,0.881818,Apparel,Femella Women Black Polo T-Shirt
17,4090,0.875800,Apparel,Classic Polo Men's Red T-shirt
18,29542,0.875800,Apparel,Classic Polo Men Red T-shirt
19,4540,0.872093,Apparel,Classic Polo Men's White Polo T-shirt

# 피클 이용한 als

In [19]:
import pickle
import scipy.sparse

item_list = load_pickle('models/als_item_list.pkl')         
als_model_fitted = load_pickle('models/als_model.pkl')         # 유저 거래 내역 DataFrame
user_map = load_pickle('models/als_vip_user_map.pkl')    # 딕셔너리
full_als_matrix_csr = load_pickle('models/als_full_matrix.pkl')  # 전체 csr 행렬

user_id = 99998
als_user_idx = user_map.get(user_id)

user_items_vector = user_item_matrix_csr[als_user_idx] # CSR 형태의 유저 벡터 추출

recommend_product(als_model_fitted, full_als_matrix_csr, als_user_idx, item_list, 'Tshirts')

,product_id,product_name,score,articleType
0,52132,Doodle Boys White Striped T-Shirt,0.006648,Tshirts
1,7803,Proline Men Teal Green Polo T-shirt,0.005781,Tshirts
2,54954,Do U Speak Green Men Green T-shirt,0.005743,Tshirts
3,4964,Gini and Jony Boy's Karl Blue White Infant Kid...,0.005106,Tshirts
4,12579,Tantra Women Orange Printed T-shirt,0.004991,Tshirts
5,3018,Lee Men's Believe Chocolate T-shirt,0.004948,Tshirts
6,11523,United Colors of Benetton Men Light Winter Gre...,0.004886,Tshirts
7,4264,Jealous 21 Women's Always Late But Burgundy Re...,0.004867,Tshirts
8,9686,ADIDAS Men Ess F Logo Navy Blue T-Shirts,0.004791,Tshirts
9,28847,Proline Men Rust Brown Polo T-shirt,0.004777,Tshirts
10,7495,Nike Women's Nike Spher Purple T-shirt,0.004751,Tshirts
11,6123,UCB Men's Solid Fabric Navy T-shirt,0.004694,Tshirts
12,3520,Myntra Men's Reaching The Moon Black T-shirt,0.004652,Tshirts
13,3807,Disney Kids Boy's Red Mickey Ship Kidswear,0.004487,Tshirts
14,3287,Guerrilla Men's Madagascar Blue T-shirt,0.004468,Tshirts

In [14]:
vip_merge[vip_merge['customer_id']==3]

,customer_id,product_id,quantity,masterCategory,productDisplayName,articleType
0,3,2179,1,Apparel,Probase Men Stripe Grey T-shirt,Tshirts
1,3,3108,1,Apparel,Probase Men's Cancel My Subscription Black T-s...,Tshirts
2,3,3855,1,Apparel,Disney Kids Girl's Red Pretty as a Flower Kids...,Tshirts
3,3,4388,1,Apparel,DC Comics Lantern Arrow All Over Green T-shirt,Tshirts
4,3,4936,1,Apparel,Gini and Jony Girl's Veata White Black Pink In...,Dresses
...,...,...,...,...,...,...
64,3,56090,1,Personal Care,Colorbar Star Shine Crystaliser Lip Gloss 02,Lip Gloss
65,3,56965,1,Footwear,HM Women Maroon Flats,Heels
66,3,56968,1,Footwear,HM Women Black Flats,Heels
67,3,58271,1,Accessories,Baggit Women Beige Handbag,Handbags
68,3,59272,1,Accessories,Titan Women Pink Watch,Watches