In [1]:
import pandas as pd
import numpy as np

In [2]:
tr1 = pd.read_csv("transactions.csv")
tr2 = pd.read_csv("transaction_new.csv")

In [3]:
tr1.head()

,created_at,customer_id,booking_id,session_id,product_metadata,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount
0,2018-07-29T15:22:01.458193Z,5868,186e2bee-0637-4710-8981-50c2d737bc42,3abaa6ce-e320-4e51-9469-d9f3fa328e86,"[{'product_id': 54728, 'quantity': 1, 'item_pr...",Debit Card,Success,1415,WEEKENDSERU,10000,2018-08-03T05:07:24.812676Z,-8.227893,111.969107,199832
1,2018-07-30T12:40:22.365620Z,4774,caadb57b-e808-4f94-9e96-8a7d4c9898db,2ee5ead1-f13e-4759-92df-7ff48475e970,"[{'product_id': 16193, 'quantity': 1, 'item_pr...",Credit Card,Success,0,NaN,10000,2018-08-03T01:29:03.415705Z,3.013470,107.802514,155526
2,2018-09-15T11:51:17.365620Z,4774,6000fffb-9c1a-4f4a-9296-bc8f6b622b50,93325fb6-eb00-4268-bb0e-6471795a0ad0,"[{'product_id': 53686, 'quantity': 4, 'item_pr...",OVO,Success,0,NaN,10000,2018-09-18T08:41:49.422380Z,-2.579428,115.743885,550696
3,2018-11-01T11:23:48.365620Z,4774,f5e530a7-4350-4cd1-a3bc-525b5037bcab,bcad5a61-1b67-448d-8ff4-781d67bc56e4,"[{'product_id': 20228, 'quantity': 1, 'item_pr...",Credit Card,Success,0,NaN,0,2018-11-05T17:42:27.954235Z,-3.602334,120.363824,271012
4,2018-12-18T11:20:30.365620Z,4774,0efc0594-dbbf-4f9a-b0b0-a488cfddf8a2,df1042ab-13e6-4072-b9d2-64a81974c51a,"[{'product_id': 55220, 'quantity': 1, 'item_pr...",Credit Card,Success,0,NaN,0,2018-12-23T17:24:07.361785Z,-3.602334,120.363824,198753

In [4]:
tr2.head()

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount,product_id,quantity,item_price
0,2018-07-29T15:22:01.458193Z,5868,186e2bee-0637-4710-8981-50c2d737bc42,3abaa6ce-e320-4e51-9469-d9f3fa328e86,Debit Card,Success,1415,WEEKENDSERU,10000,2018-08-03T05:07:24.812676Z,-8.227893,111.969107,199832,54728,1,191247
1,2018-07-30T12:40:22.365620Z,4774,caadb57b-e808-4f94-9e96-8a7d4c9898db,2ee5ead1-f13e-4759-92df-7ff48475e970,Credit Card,Success,0,NaN,10000,2018-08-03T01:29:03.415705Z,3.013470,107.802514,155526,16193,1,145526
2,2018-09-15T11:51:17.365620Z,4774,6000fffb-9c1a-4f4a-9296-bc8f6b622b50,93325fb6-eb00-4268-bb0e-6471795a0ad0,OVO,Success,0,NaN,10000,2018-09-18T08:41:49.422380Z,-2.579428,115.743885,550696,53686,4,135174
3,2018-11-01T11:23:48.365620Z,4774,f5e530a7-4350-4cd1-a3bc-525b5037bcab,bcad5a61-1b67-448d-8ff4-781d67bc56e4,Credit Card,Success,0,NaN,0,2018-11-05T17:42:27.954235Z,-3.602334,120.363824,271012,20228,1,271012
4,2018-12-18T11:20:30.365620Z,4774,0efc0594-dbbf-4f9a-b0b0-a488cfddf8a2,df1042ab-13e6-4072-b9d2-64a81974c51a,Credit Card,Success,0,NaN,0,2018-12-23T17:24:07.361785Z,-3.602334,120.363824,198753,55220,1,198753

In [5]:
tr1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852584 entries, 0 to 852583
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   created_at              852584 non-null  object
 1   customer_id             852584 non-null  int64
 2   booking_id              852584 non-null  object
 3   session_id              852584 non-null  object
 4   product_metadata        852584 non-null  object
 5   payment_method          852584 non-null  object
 6   payment_status          852584 non-null  object
 7   promo_amount            852584 non-null  int64
 8   promo_code              326536 non-null  object
 9   shipment_fee            852584 non-null  int64
 10  shipment_date_limit     852584 non-null  object
 11  shipment_location_lat   852584 non-null  float64
 12  shipment_location_long  852584 non-null  float64
 13  total_amount            852584 non-null  int64
dtypes: float64(2), int64(4), object(8)
memory usage: 91.1+ MB

In [6]:
tr2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1254585 entries, 0 to 1254584
Data columns (total 16 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   created_at              1254585 non-null  object
 1   customer_id             1254585 non-null  int64
 2   booking_id              1254585 non-null  object
 3   session_id              1254585 non-null  object
 4   payment_method          1254585 non-null  object
 5   payment_status          1254585 non-null  object
 6   promo_amount            1254585 non-null  int64
 7   promo_code              481139 non-null   object
 8   shipment_fee            1254585 non-null  int64
 9   shipment_date_limit     1254585 non-null  object
 10  shipment_location_lat   1254585 non-null  float64
 11  shipment_location_long  1254585 non-null  float64
 12  total_amount            1254585 non-null  int64
 13  product_id              1254585 non-null  int64
 14  quantity                1254585 non-null  int64
 15  item_price              1254585 non-null  int64
dtypes: float64(2), int64(7), object(7)
memory usage: 153.1+ MB

In [7]:
common_col = list(set(tr1.columns).intersection(tr2.columns))
tr1_common = tr1[common_col]
tr2_common = tr2[common_col]
df_tr = pd.concat([tr1_common, tr2_common], ignore_index=True)
df_tr = df_tr.drop_duplicates(subset=['booking_id'], keep='last')

In [8]:
df_tr.isnull().sum()

session_id                     0
customer_id                    0
booking_id                     0
promo_amount                   0
shipment_location_lat          0
shipment_location_long         0
total_amount                   0
payment_method                 0
shipment_fee                   0
payment_status                 0
shipment_date_limit            0
promo_code                526048
created_at                     0
dtype: int64

In [9]:
tr_item = tr2[['booking_id', 'product_id', 'quantity', 'item_price']]
tr_item.head()

                             booking_id  product_id  quantity  item_price
0  186e2bee-0637-4710-8981-50c2d737bc42       54728         1      191247
1  caadb57b-e808-4f94-9e96-8a7d4c9898db       16193         1      145526
2  6000fffb-9c1a-4f4a-9296-bc8f6b622b50       53686         4      135174
3  f5e530a7-4350-4cd1-a3bc-525b5037bcab       20228         1      271012
4  0efc0594-dbbf-4f9a-b0b0-a488cfddf8a2       55220         1      198753

In [10]:
df_tr.duplicated(subset=['booking_id']).sum()

0

In [11]:
df_tr.shape

(852584, 13)

In [12]:
tr_item.duplicated().sum()

0

In [13]:
### df_tr, tr_item csv파일로 추출해서 db에 올리기
### transaction_info, transaction_product

In [14]:
click1 = pd.read_csv("click_stream.csv")
click2 = pd.read_csv("click_stream_new.csv")

In [15]:
click1.head()

,session_id,event_name,event_time,event_id,traffic_source,event_metadata
0,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,HOMEPAGE,2019-09-06T15:54:32.821085Z,9c4388c4-c95b-4678-b5ca-e9cbc0734109,MOBILE,NaN
1,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,SCROLL,2019-09-06T16:03:57.821085Z,4690e1f5-3f99-42d3-84a5-22c4c4d8500a,MOBILE,NaN
2,7d440441-e67a-4d36-b324-80ffd636d166,HOMEPAGE,2019-09-01T12:05:10.322763Z,88aeaeb5-ec98-4859-852c-8abb483faf31,MOBILE,NaN
3,7d440441-e67a-4d36-b324-80ffd636d166,ADD_TO_CART,2019-09-01T12:06:33.322763Z,934e306e-ecc6-472f-9ccb-12c8536910a2,MOBILE,"{'product_id': 15315, 'quantity': 4, 'item_pri..."
4,7d440441-e67a-4d36-b324-80ffd636d166,BOOKING,2019-09-01T12:15:29.425431Z,9f4767a1-40fa-4c9c-9524-dfad18634d56,MOBILE,{'payment_status': 'Success'}

In [16]:
click2.head()

,session_id,event_name,event_time,event_id,traffic_source,product_id,quantity,item_price,payment_status,search_keywords,promo_code,promo_amount
0,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,HOMEPAGE,2019-09-06T15:54:32.821085Z,9c4388c4-c95b-4678-b5ca-e9cbc0734109,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,SCROLL,2019-09-06T16:03:57.821085Z,4690e1f5-3f99-42d3-84a5-22c4c4d8500a,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7d440441-e67a-4d36-b324-80ffd636d166,HOMEPAGE,2019-09-01T12:05:10.322763Z,88aeaeb5-ec98-4859-852c-8abb483faf31,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7d440441-e67a-4d36-b324-80ffd636d166,ADD_TO_CART,2019-09-01T12:06:33.322763Z,934e306e-ecc6-472f-9ccb-12c8536910a2,MOBILE,15315.0,4.0,313529.0,NaN,NaN,NaN,NaN
4,7d440441-e67a-4d36-b324-80ffd636d166,BOOKING,2019-09-01T12:15:29.425431Z,9f4767a1-40fa-4c9c-9524-dfad18634d56,MOBILE,NaN,NaN,NaN,Success,NaN,NaN,NaN

In [17]:
click1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12833602 entries, 0 to 12833601
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   session_id      object
 1   event_name      object
 2   event_time      object
 3   event_id        object
 4   traffic_source  object
 5   event_metadata  object
dtypes: object(6)
memory usage: 587.5+ MB

In [18]:
click2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12833602 entries, 0 to 12833601
Data columns (total 12 columns):
 #   Column           Dtype
---  ------           -----
 0   session_id       object
 1   event_name       object
 2   event_time       object
 3   event_id         object
 4   traffic_source   object
 5   product_id       float64
 6   quantity         float64
 7   item_price       float64
 8   payment_status   object
 9   search_keywords  object
 10  promo_code       object
 11  promo_amount     float64
dtypes: float64(4), object(8)
memory usage: 1.1+ GB

In [19]:
common_cols = list(set(click1.columns).intersection(click2.columns))
click1_common = click1[common_cols]
click2_common = click2[common_cols]
df_click = pd.concat([click1_common, click2_common], ignore_index= True)
df_click = df_click.drop_duplicates()

In [20]:
df_click.duplicated().sum()

0

In [21]:
df_click.shape

(12833602, 5)

In [22]:
common_sessions = set(click1['session_id']).intersection(set(click2['session_id']))
print(len(common_sessions))

895203

In [23]:
purchase_cols = [
    'session_id', 'product_id', 'quantity',
    'item_price', 'payment_status',
    'search_keywords', 'promo_code', 'promo_amount'
]

df_click_purchases = click2[purchase_cols]

In [24]:
### df_click, df_click_purchases csv파일로 추출해서 db에 올리기
### clickstream_info, clickstream_purchase

In [25]:
# products = pd.read_csv('product.csv')
# products.head()

ParserError: Error tokenizing data. C error: Expected 10 fields in line 6569, saw 11

In [ ]:
### product 데이터 고치기

In [26]:
customer = pd.read_csv('customer.csv')
customer.head()

,customer_id,first_name,last_name,username,email,gender,birthdate,device_type,device_id,device_version,home_location_lat,home_location_long,home_location,home_country,first_join_date
0,2870,Lala,Maryati,671a0865-ac4e-4dc4-9c4f-c286a1176f7e,671a0865_ac4e_4dc4_9c4f_c286a1176f7e@startupca...,F,1996-06-14,iOS,c9c0de76-0a6c-4ac2-843f-65264ab9fe63,iPhone; CPU iPhone OS 14_2_1 like Mac OS X,-1.043345,101.360523,Sumatera Barat,Indonesia,2019-07-21
1,8193,Maimunah,Laksmiwati,83be2ba7-8133-48a4-bbcb-b46a2762473f,83be2ba7_8133_48a4_bbcb_b46a2762473f@zakyfound...,F,1993-08-16,Android,fb331c3d-f42e-40fe-afe2-b4b73a8a6e25,Android 2.2.1,-6.212489,106.818850,Jakarta Raya,Indonesia,2017-07-16
2,7279,Bakiman,Simanjuntak,3250e5a3-1d23-4675-a647-3281879d42be,3250e5a3_1d23_4675_a647_3281879d42be@startupca...,M,1989-01-23,iOS,d13dde0a-6ae1-43c3-83a7-11bbb922730b,iPad; CPU iPad OS 4_2_1 like Mac OS X,-8.631607,116.428436,Nusa Tenggara Barat,Indonesia,2020-08-23
3,88813,Cahyadi,Maheswara,df797edf-b465-4a80-973b-9fbb612260c2,df797edf_b465_4a80_973b_9fbb612260c2@zakyfound...,M,1991-01-05,iOS,f4c18515-c5be-419f-8142-f037be47c9cd,iPad; CPU iPad OS 14_2 like Mac OS X,1.299332,115.774934,Kalimantan Timur,Indonesia,2021-10-03
4,82542,Irnanto,Wijaya,36ab08e1-03de-42a8-9e3b-59528c798824,36ab08e1_03de_42a8_9e3b_59528c798824@startupca...,M,2000-07-15,iOS,e46e4c36-4630-4736-8fcf-663db29ca3b0,iPhone; CPU iPhone OS 10_3_3 like Mac OS X,-2.980807,114.924675,Kalimantan Selatan,Indonesia,2021-04-11

In [30]:
expected_fields = 10  # 정상적인 컬럼 개수로 변경하세요

with open('product.csv', 'r', encoding='utf-8') as f:
    for i, line in enumerate(f, 1):
        fields = line.strip().split(',')
        if len(fields) != expected_fields:
            print(f'Line {i} has {len(fields)} fields: {line[:200]}')  # 일부만 출력

Line 6044 has 11 fields: 44065,Men,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring,2017,Casual,"Boss Men Perfume, After Shave Balm and Shower Gel Set"

Line 6569 has 11 fields: 3413,Men,Apparel,Topwear,Tshirts,White,Summer,2011,Casual,Myntra Men's Yes, its all about me White T-shirt

Line 7399 has 11 fields: 23101,Men,Accessories,Accessories,Accessory Gift Set,Pink,Fall,2011,Formal,Turtle Men Formal Pink Tie, Cufflink and Pocket Square Combo Set

Line 7939 has 11 fields: 23108,Men,Accessories,Accessories,Accessory Gift Set,Purple,Fall,2011,Formal,Turtle Men Formal Purple Tie, Cufflink and Pocket Square Combo Set

Line 9026 has 11 fields: 4854,Unisex,Footwear,Shoes,Casual Shoes,White,Winter,2012,Casual,Newfeel Unisex White, Blue and Orange Casual Shoes

Line 10264 has 11 fields: 23109,Men,Accessories,Accessories,Accessory Gift Set,Purple,Fall,2011,Formal,Turtle Men Formal Purple Tie, Cufflink and Pocket Square Combo Set

Line 10427 has 11 fields: 23100,Men,Accessories,Accessories,Accessory Gift Set,Navy Blue,Fall,2011,Formal,Turtle Men Formal Navy Blue Tie, Cufflink and Pocket Square Combo Set

Line 10905 has 11 fields: 23107,Men,Accessories,Accessories,Accessory Gift Set,Purple,Fall,2011,Formal,Turtle Men Formal Purple Tie, Cufflink and Pocket Square Combo Set

Line 11373 has 11 fields: 59768,Women,Accessories,Jewellery,Earrings,Gold,Winter,2016,Casual,Estelle Women Gold, Silver and Copper Toned Earrings

Line 11945 has 11 fields: 23114,Men,Accessories,Accessories,Accessory Gift Set,Black,Fall,2011,Formal,Turtle Men Formal Black Tie, Cufflink and Pocket Square Combo Set

Line 14112 has 11 fields: 23112,Men,Accessories,Accessories,Accessory Gift Set,Red,Fall,2011,Formal,Turtle Men Formal Red Tie, Cufflink and Pocket Square Combo Set

Line 14532 has 11 fields: 23115,Men,Accessories,Accessories,Accessory Gift Set,Blue,Fall,2011,Formal,Turtle Men Formal Blue Tie, Cufflink and Pocket Square Combo Set

Line 15076 has 12 fields: 23124,Unisex,Footwear,Flip Flops,Flip Flops,Navy Blue,Spring,2013,Casual,Converse Unisex Navy Blue Liv,Laugh,Love Flip-flops

Line 29906 has 11 fields: 3428,Men,Apparel,Topwear,Tshirts,Black,Summer,2011,Casual,Myntra Mens Be Reasonable,Do It My Way T-shirt

Line 31625 has 11 fields: 23103,Men,Accessories,Accessories,Accessory Gift Set,Black,Fall,2011,Formal,Turtle Men Formal Black Tie, Cufflink and Pocket Square Combo Set

Line 33020 has 11 fields: 3418,Men,Apparel,Topwear,Tshirts,Black,Summer,2011,Casual,Myntra Men's Take my advice, I don't use it anyway Black T-shirt

Line 35748 has 11 fields: 23110,Men,Accessories,Accessories,Accessory Gift Set,Blue,Fall,2011,Formal,Turtle Men Formal Blue Tie, Cufflink and Pocket Square Combo Set

Line 35962 has 11 fields: 23117,Men,Accessories,Accessories,Accessory Gift Set,Blue,Fall,2011,Formal,Turtle Men Formal Blue Tie, Cufflink and Pocket Square Combo Set

Line 37770 has 11 fields: 23116,Men,Accessories,Accessories,Accessory Gift Set,Red,Fall,2011,Formal,Turtle Men Formal Red Tie, Cufflink and Pocket Square Combo Set

Line 38105 has 11 fields: 23111,Men,Accessories,Accessories,Accessory Gift Set,Yellow,Fall,2011,Formal,Turtle Men Formal Yellow Tie, Cufflink and Pocket Square Combo Set

Line 38275 has 11 fields: 23118,Men,Accessories,Accessories,Accessory Gift Set,Red,Fall,2011,Formal,Turtle Men Formal Red Tie, Cufflink and Pocket Square Combo Set

Line 38404 has 12 fields: 23127,Unisex,Footwear,Flip Flops,Flip Flops,Green,Summer,2012,Casual,Converse Unisex Green Live, Life, Laugh Flip Flops

In [46]:
corrected_lines = []

expected_fields = 10
with open('product.csv', 'r', encoding='utf-8') as f:
    header = f.readline().strip()
    corrected_lines.append(header)

    for i, line in enumerate(f, 2):
        fields = line.strip().split(',')

        if len(fields) >= expected_fields:
            # 앞 9개 필드 + 나머지를 모두 합치고, 큰따옴표로 감싸기
            product_name = ','.join(fields[9:]).strip('"')
            product_name_quoted = f'"{product_name}"'
            fixed_fields = fields[:9] + [product_name_quoted]
            corrected_lines.append(','.join(fixed_fields))
        else:
            print(f"⚠️ Line {i} has too few fields: {len(fields)} fields")

# 새 파일로 저장
with open('product_fixed.csv', 'w', encoding='utf-8') as f:
    for line in corrected_lines:
        f.write(line + '\n')

print("✅ productDisplayName 필드를 큰따옴표로 감싸서 저장 완료")

✅ productDisplayName 필드를 큰따옴표로 감싸서 저장 완료

In [48]:
products = pd.read_csv('product_fixed.csv')
products.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt