In [8]:
import pandas as pd

In [7]:
customer = pd.read_csv('customer_train.csv',header=None)
customer.columns = ['customer_id','name','grade']
customer

       customer_id                 name     grade
0                3        Ganep Mustofa      vvip
1                8        Nilam Fujiati       vip
2                9       Hesti Purwanti       vip
3               11        Luwar Permadi  customer
4               15        Tari Hassanah       vip
...            ...                  ...       ...
50698        99992      Zamira Agustina       vip
50699        99995         Lala Nasyiah      vvip
50700        99997     Rizki Firgantoro  customer
50701        99998         Tami Fujiati       vip
50702        99999  Purwadi Simanjuntak  customer

[50703 rows x 3 columns]

In [24]:
customer.to_csv('customer_train.csv', index=False)

In [9]:
cb_data = pd.read_csv('cb_data.csv')
cb_data

,product_id,quantity,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15315,4,15315,Men,Footwear,Shoes,Sports Shoes,Black,Fall,2011.0,Sports,ADIDAS Men Eqt Nitro Fashion Black Sports Shoes
1,15315,1,15315,Men,Footwear,Shoes,Sports Shoes,Black,Fall,2011.0,Sports,ADIDAS Men Eqt Nitro Fashion Black Sports Shoes
2,15315,1,15315,Men,Footwear,Shoes,Sports Shoes,Black,Fall,2011.0,Sports,ADIDAS Men Eqt Nitro Fashion Black Sports Shoes
3,15315,1,15315,Men,Footwear,Shoes,Sports Shoes,Black,Fall,2011.0,Sports,ADIDAS Men Eqt Nitro Fashion Black Sports Shoes
4,15315,1,15315,Men,Footwear,Shoes,Sports Shoes,Black,Fall,2011.0,Sports,ADIDAS Men Eqt Nitro Fashion Black Sports Shoes
...,...,...,...,...,...,...,...,...,...,...,...,...
1802107,4394,1,4394,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Free Authority Men's Panda Cigar Grey T-shirt
1802108,4394,1,4394,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Free Authority Men's Panda Cigar Grey T-shirt
1802109,4394,1,4394,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Free Authority Men's Panda Cigar Grey T-shirt
1802110,4394,1,4394,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Free Authority Men's Panda Cigar Grey T-shirt
1802111,4394,1,4394,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Free Authority Men's Panda Cigar Grey T-shirt

In [12]:
tr_new = pd.read_csv('transaction_new.csv')
tr_new.head()

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount,product_id,quantity,item_price
0,2018-07-29T15:22:01.458193Z,5868,186e2bee-0637-4710-8981-50c2d737bc42,3abaa6ce-e320-4e51-9469-d9f3fa328e86,Debit Card,Success,1415,WEEKENDSERU,10000,2018-08-03T05:07:24.812676Z,-8.227893,111.969107,199832,54728,1,191247
1,2018-07-30T12:40:22.365620Z,4774,caadb57b-e808-4f94-9e96-8a7d4c9898db,2ee5ead1-f13e-4759-92df-7ff48475e970,Credit Card,Success,0,NaN,10000,2018-08-03T01:29:03.415705Z,3.013470,107.802514,155526,16193,1,145526
2,2018-09-15T11:51:17.365620Z,4774,6000fffb-9c1a-4f4a-9296-bc8f6b622b50,93325fb6-eb00-4268-bb0e-6471795a0ad0,OVO,Success,0,NaN,10000,2018-09-18T08:41:49.422380Z,-2.579428,115.743885,550696,53686,4,135174
3,2018-11-01T11:23:48.365620Z,4774,f5e530a7-4350-4cd1-a3bc-525b5037bcab,bcad5a61-1b67-448d-8ff4-781d67bc56e4,Credit Card,Success,0,NaN,0,2018-11-05T17:42:27.954235Z,-3.602334,120.363824,271012,20228,1,271012
4,2018-12-18T11:20:30.365620Z,4774,0efc0594-dbbf-4f9a-b0b0-a488cfddf8a2,df1042ab-13e6-4072-b9d2-64a81974c51a,Credit Card,Success,0,NaN,0,2018-12-23T17:24:07.361785Z,-3.602334,120.363824,198753,55220,1,198753

In [15]:
tr_new.shape

(1254585, 16)

In [16]:
tr_new_unique = tr_new.drop_duplicates(subset='product_id')

cb_data_merge = pd.merge(cb_data, tr_new_unique[['product_id','item_price']], on='product_id', how = 'left')
cb_data_merge

,product_id,quantity,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,item_price
0,15315,4,15315,Men,Footwear,Shoes,Sports Shoes,Black,Fall,2011.0,Sports,ADIDAS Men Eqt Nitro Fashion Black Sports Shoes,140913
1,15315,1,15315,Men,Footwear,Shoes,Sports Shoes,Black,Fall,2011.0,Sports,ADIDAS Men Eqt Nitro Fashion Black Sports Shoes,140913
2,15315,1,15315,Men,Footwear,Shoes,Sports Shoes,Black,Fall,2011.0,Sports,ADIDAS Men Eqt Nitro Fashion Black Sports Shoes,140913
3,15315,1,15315,Men,Footwear,Shoes,Sports Shoes,Black,Fall,2011.0,Sports,ADIDAS Men Eqt Nitro Fashion Black Sports Shoes,140913
4,15315,1,15315,Men,Footwear,Shoes,Sports Shoes,Black,Fall,2011.0,Sports,ADIDAS Men Eqt Nitro Fashion Black Sports Shoes,140913
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1802107,4394,1,4394,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Free Authority Men's Panda Cigar Grey T-shirt,220207
1802108,4394,1,4394,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Free Authority Men's Panda Cigar Grey T-shirt,220207
1802109,4394,1,4394,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Free Authority Men's Panda Cigar Grey T-shirt,220207
1802110,4394,1,4394,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Free Authority Men's Panda Cigar Grey T-shirt,220207
1802111,4394,1,4394,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Free Authority Men's Panda Cigar Grey T-shirt,220207

In [21]:
cb_data_merge=cb_data_merge[['product_id','quantity', 'masterCategory','articleType','productDisplayName','item_price']]

In [23]:
cb_product = cb_data_merge.groupby(['product_id','masterCategory','articleType','productDisplayName','item_price'])['quantity'].count().reset_index()
cb_product

,product_id,masterCategory,articleType,productDisplayName,item_price,quantity
0,1163,Apparel,Tshirts,Nike Sahara Team India Fanwear Round Neck Jersey,45027,27
1,1164,Apparel,Tshirts,Nike Men Blue T20 Indian Cricket Jersey,393228,21
2,1165,Apparel,Tshirts,Nike Mean Team India Cricket Jersey,470047,29
3,1525,Accessories,Backpacks,Puma Deck Navy Blue Backpack,218108,96
4,1526,Accessories,Backpacks,Puma Big Cat Backpack Black,280252,92
...,...,...,...,...,...,...
44072,59995,Apparel,Dresses,Avirate Black Dress,284345,79
44073,59996,Apparel,Dresses,Avirate Black & Purple Dress,210767,95
44074,59998,Footwear,Heels,Catwalk Women Multi Coloured Heels,125043,84
44075,59999,Footwear,Heels,Catwalk Women Bronze Wedges,178509,84
44076,60000,Apparel,Kurtas,Alma Women Blue Kurta,269071,23

In [25]:
cb_product.to_csv('cb_product.csv', index = False)